{% extends 'base.html' %}
{% load static %}

{% block content  %}
    <h1>{{ post.title }}</h1>
    <p>게시물 번호(id): {{ post.pk }}</p>
    <p>글쓴이: {{ post.author }}</p>
    <p>등록일: {{ post.date }}</p>
    <p> {{ post.body }}</p>
    
    <!-- 홈으로 버튼태그 -->
    <button type='button' class='btn' onclick='location.href="{% url "main" %}"'>홈으로</button>
    <!-- 수정하기 버튼태그 -->
    <button type='button' class='btn btn-info btn-sm' onclick='location.href="{% url "update" post.pk %}"'>수정하기</button>
    <!-- 삭제하기 버튼태그 -->
    <button type='button' class='btn btn-danger btn-sm' onclick='location.href="{% url "delete" post.pk %}"'>삭제하기</button>
{% endblock content %}
