{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정지영 CRUD</title>
</head>
<body style="background-color: #FFFAFA;">
{ {% block content %}

 <!-- 글 목록 Bootstrap Table-->
    <table class="table">
        <thead class="thead-dark" style='background-color: #bfffff;'>
            <tr>
                <th scope="col">#</th>
                <th scope="col">제목</th>
                <th scope="col">내용</th>
                <th scope="col">올린날짜</th>
                <th scope="col">자세히보기</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in posts.all %}
            
            <tr>
                <td>####</td>
                <td>{{ obj.title }}<a href="{% url 'detail' obj.pk %}"></a></td>
                <td>{{ obj.body }}</td>
                <td>{{ obj.date }}</td>
                <td><a href="{% url 'detail' obj.pk %}">자세히보기</a></td>
    
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content  %}}
</body>
</html> 